body {
    background-image: url('../Images/WideBackground.png');
    background-repeat: no-repeat;
    background-position: center center;
}

#header {
	height:80px;
	margin:auto;
}

#mainheadings {
	display:block;
	float:left;	
}

#mainheadings h1 {
	font-size:x-large;
	margin-bottom:5px;
	color:#006;
}

#mainheadings h2 {
	font-size:large;
	color:#006;
}

#header #logo {
	float:right;
}

ul#mainnav {
	clear:both;
	display:block;
	background-color:#ccf;
}

ul#mainnav li {
	display:inline;
	margin-right:10px;
	padding-right:10px;
	border-right:1px solid #000;
}

#sidebar {
	width:15%;
	float:left;
	border-right:3px solid #ccf;
	margin-bottom:5px;
}

#sidebar h2 {
	margin-bottom:0px;
	font-size:large;
	color:#006;	
}

#sidebar ul {
	margin:0px;
	padding:0px;	
}

#sidebar li {
	display:block;
	width:10%;
	padding:2px;
	letter-spacing:2px;
}

#sidebar li:hover {
	background-color:#fff;
}

#sidebar a {
	text-decoration:none;
	display:block;
	width:90%;
}


#content {
	float:right;
	width: 80%;
    margin: 0;
}

#footer {
	clear:both;
	border-top:1px solid #006;
	font-style:italic;
    float: left;
	width:100%;
	text-align:right;
}

a:hover {
	color:#f60;
}