header {
	height:80px;
	margin:auto;
}

header hgroup {
	display:block;
	float:left;	
}

header hgroup h1 {
	font-size:x-large;
	margin-bottom:5px;
	color:#006;
}

header hgroup h2 {
	font-size:large;
	margin:0px;	
	color:#006;
}

header #logo {
	float:right;
}

nav#mainnav {
	clear:both;
	display:block;
	background-color:#ccf;
}

nav#mainnav ul {
	margin:0px;
	padding:0px;
}

nav#mainnav li {
	display:inline;
	margin-right:10px;
	padding-right:10px;
	border-right:1px solid #000;
}

aside h2 {
	margin-bottom:0px;
	font-size:large;
	color:#006;	
}

aside {
	width:15%;
	float:left;
	border-right:3px solid #ccf;
	margin-bottom:5px;
}

aside ul {
	margin:0px;
	padding:0px;
}

aside li {
	display:block;
	width:10%;
	padding:2px;
	letter-spacing:2px;
}

aside li:hover {
	background-color:#fff;
}

aside a {
	text-decoration:none;
	display:block;
	width:90%;
}

#content {
	float:right;
	width: 80%;
    margin: 0;
}

footer {
	clear:both;
	border-top:1px solid #006;
	font-style:italic;
    float: left;
	width:100%;
	text-align:right;
}

a:hover {
	color:#f60;
}

/* The below demonstrates some media queries... not pretty, but demonstrates
    how as screen gets resized you can change all sorts of things. In this case, 
    perhaps the decision is that for mobile browsers we don't want to display 
    a background image. Also, perhaps the sidebar is no longer relevant and can be hidden
*/
/* mobile styles */
@media only screen and (max-width: 480px) {
    body {
        background-color: #FFFFFF;
        background-image: none;
    }

    #logo {
        visibility: hidden;
        display: none;
    }

    #sidebar {
        display: none;
    }
}

/* tablet styles */
@media only screen and (min-width: 481px) and (max-width: 768px) {
    body {
        background-color: #C0C0C0;
        background-image: none;
    }

    #logo {
        visibility: visible;
        display: block;
    }
}

/* desktop */
@media only screen and (min-width: 769px) {
    body {
        background-image: url('../Images/WideBackground.png');
        background-repeat: no-repeat;
        background-position: center center;
    }

    #logo {
        visibility: visible;
        display: block;
    }
}

